.cartSidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;
    ;
}
  
.cartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.cartItems {
    margin-top: 20px;
    /* border: 3px solid black; */
    margin-bottom: 20px;
}
  
.cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    /* background-color: coral; */
    width: 100%;
    height: 130px;
    padding-right: 15px;
    
}
  
.cartItem img {
    width: 140px;
    height: 100%;
    margin-right: 10px;
}
  
.cartItemDetails {
    flex-grow: 1;
}
  
.cart-count {
    background-color: red;
    border-radius: 50%;
    color: white;
    padding: 2px 8px;
    font-size: 12px;
    margin-left: 5px;
}
  
.cartQuantity {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
  
.cartQuantity button {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
  
.cartQuantity span {
    margin: 0 10px;
}
  
.removeBtn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1.2em;

}

.buy{
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: rgb(0, 114, 0);
    border-radius: 10px;
    color: white;
    border: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.523);
}
.buy:hover{
    transition: 2s;
    background-color: rgb(3, 86, 3);
}