
.home{
    width: 100%;
    /* height: 500vh; */
    position: relative;
    /* border: 10px solid black; */
    display: flex;
    flex-direction: column;
    /* gap: 5%; */
}

.goldStar{
    color: gold;
}
.heroSec{
    /* border: 3px solid green; */
    width: 100%;
    height: 600px;
    display: flex;
    padding-top: 80px;
    align-items: start;
    justify-content: start;
    animation: animate 16s ease-in-out infinite, fadeIn 4s ease-in-out;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.404);
    background-blend-mode: darken;
    /* margin-bottom: 50px; */
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@keyframes fadeFromBottom {
    0% {
      opacity: 0;
      transform: translateY(50px); /* Start 50px below */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Move to the original position */
    }
}
  
@keyframes fadeLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
@keyframes fadeRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }  
  
@keyframes animate{
    0%, 100%{
        background-image: url('../../img/black-kitchen.webp');
    }
    25%{
        background-image: url('../../img/purple-colour-scheme.jpg');
    }
    50%{
        background-image: url('../../img/red-accessories-in-home-decor.jpg');
    }
    75%{
        background-image: url('../../img/brown-decor.webp');
    }
}
.heroSecTxt{
    width: 900px;
    height: 400px;
    /* border: 3px solid white; */
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.heroSecTxt > h1, .heroSecTxt > p{
    color: white;
}
.heroSecTxt > h1{
    animation: fadeLeft 2s ease-in-out;
}
.heroSecTxt > p{
    animation: fadeLeft 3s ease-in-out;
    font-weight: 100;
}
.heroSecBtn{
    animation: fadeLeft 4s ease-in-out;
}
.heroSecBtn:hover{
    background-color: transparent;
    color: #dd54ff7a;
    border: 3px solid #eeacff;
    transition: 2s;
}

/* --Portfolio Section */
.portfolio{
    width: 100%;
    background-color: black;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 10px;
    animation: fadeFromBottom 6s ease-in-out;
    /* margin-bottom: 50px; */
}
.portfolioCard {
    position: relative;
    border: 3px ridge #eeacff;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
#portfolioCard1{
    animation: fadeLeft 2s ease-in-out;
}
#portfolioCard2{
    animation: fadeFromBottom 3s ease-in-out;
}
#portfolioCard3{
    animation: fadeRight 4s ease-in-out;
}


  
  .portfolioCard:hover::before, .portfolioCard:hover::after {
    transform: scale(0)
  }
  
  .portfolioCard:hover {
    box-shadow: inset 0px 0px 25px #d015ff;
  }
.portfolioCard:hover{
    color: #d015ff;
}
.portfolioCard{
    width: 30%;
    height: 50%;
    /* background-color: whitesmoke; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    color: whitesmoke;
}
.portfolioIcon{
    font-size: 25px;
}



/* --Popular Designs Section */
.popularDesigns{
    width: 100%;
    /* background-color: red; */
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
    animation: fadeLeft 7s ease-in-out;
    /* padding-top: 20px; */
    /* overflow-x: scroll; */
}
.popularDesigns > h1{
    animation: fadeFromBottom 3s ease-in-out;
    
}



/* ---whyUs section */
.whyUs{
    width: 100%;
    height: 550px;
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    animation: fadeRight 8s ease-in-out;
}
.whyUsIntro{
    /* border: 2px solid whitesmoke; */
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    align-items: end;
    justify-content: center;
    animation: fadeIn 3s ease-in-out;
}
.whyUsBox{
    width: 100%;
    height: 90%;
    /* border: 3px solid rgb(19, 73, 139); */
    display: flex;
    justify-content: center;
    gap: 4%;
    align-items: center;
}
#box1{
    animation: fadeLeft 3s ease-in-out;
}
#box2{
    animation: fadeIn 4s ease-in-out;
}
#box3{
    animation: fadeRight 5s ease-in-out;
}
.box1{
    height: 90%;
    width: 30%;
    /* border: 3px solid saddlebrown; */
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
}
.box1 > i{
    width: 100px;
    color: white;
    background-color: #d015ff;
    font-size: 30px;
    border-radius: 50%;
    padding: 20px;
}
.box1 > h1{
    font-size: 25px;
}

.box1 > p{
    font-size: 15px;
}
.box1 {
    position: relative;
    border: 3px ridge #eeacff;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  .box1:hover::before, .box1:hover::after {
    transform: scale(0)
  }
  
  .box1:hover {
    box-shadow: inset 0px 0px 25px #d015ff;
    /* background-color: whitesmoke; */
  }
.box1:hover{
    color: whitesmoke;
}



/* --Review Section */
.reviews{
    width: 100%;
    height: 400px;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;
    animation: fadeLeft 9s ease-in-out;
    align-items: center;
    justify-content: center;
    gap: 2%;
    background-color: #4c0b5c;
    padding-left: 30px;
    padding-right: 30px;
    /* background-color: coral; */
    /* overflow-x: scroll; */
}
.reviewTxt{
    /* background-color: aliceblue; */
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    align-items: end;
    justify-content: center;
}
.reviewTxt > h1{
    color: whitesmoke;
    animation: fadeFromBottom 3s ease-in-out;
}
.reviewCards{
    /* background-color: aquamarine; */
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}



/* ----feedback */
.feedback{
    width: 100%;
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    animation: fadeRight 9s ease-in-out;
}
.feedbackTxt{
    width: 50%;
    /* border: 3px solid wheat; */
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
    /* align-items: center; */
}
#feedbackSpan{
    background: linear-gradient(to right, white, #d015ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    animation: fadeIn 4s ease-in-out;
}
.feedbackTxt > p{
    animation: fadeLeft 3s ease-in-out;
    font-weight: 100;
}
.feedbackTxt > ul > li{
    animation: fadeFromBottom 3s ease-in-out;
    font-weight: 100;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
    width: 400px;
    height: 400px;
    /* background-color: rgb(247, 247, 247); */
    background-color: transparent;
    padding-top: 30px;
    margin-top: 50px;
    animation: fadeRight 3s ease-in-out;
}
form> div{
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: start;
    /* border: 3px solid cadetblue; */
    color: whitesmoke;
}
input{
    width: 100%;
    height: 40px;
    border-bottom: 3px solid #d015ff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    color: white;
}
span{
    /* color: crimson; */
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.submitBtn:hover{
    background-color: transparent;
    color: #dd54ff7a;
    border: 3px solid #eeacff;
    transition: 2s;
}


@media screen and (max-width: 1110px) {
    .feedback{
        padding: 0 90px;
    }
    .feedbackTxt > p, .feedbackTxt > ul >li{
        font-size: 16px;
    }
}

@media screen and (max-width: 1000px) {
    .heroSec{
        display: flex;
        justify-content: center;
    }
    .heroSecTxt{
        padding: 0;
        width: 80%;
        height: 80%;
        gap: 50px;
        align-items: center;
        text-align: center;
    }
    .portfolioCard{
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 990px) {
    .whyUsBox{
        gap: 2%;
    }
    .box1 > p{
        font-size: 12px;
    }
}

@media screen and (max-width: 960px){
    .popularDesigns{
        height: 900px;
        padding: 0;
    }
    .popularDesigns > h1{
        font-size: 27px;
    }
}

@media screen and (max-width: 930px) {
    #feedbackSpan{
        font-size: 40px;
    }
    /* .feedbackTxt > p, .feedbackTxt > ul > li{
        font-size: 15px;
    } */
}

@media screen and (max-width: 900px) { 
    .whyUs{
        height: 1400px;
    }
    .whyUsBox{
        /* border: 3px solid wheat; */
        display: flex;
        flex-direction: column;
        /* width: 500px; */
    }
    .box1{
        width: 300px;
    }
    .box1 > p{
        font-size: 14px;
    }
    .feedback{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
        height: 850px;
        /* border: 3px solid wheat; */
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .feedbackTxt{
        /* border: 2px solid white; */
        width: 100%;
        height: 700px;
        justify-content: center;
        align-items: center;
        text-align: start;
        gap: 30px;
        /* padding-top: 30px; */
    }
    
}


@media screen and (max-width: 740px) { 
    .heroSecTxt{
        height: 100%;
    }
}

@media screen and (max-width: 720px) { 
    .portfolio{
        display: flex;
        flex-direction: column;
        height: 700px;
        padding: 30px;
    }
    .portfolioCard{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items:center ;
    }
    .popularDesigns{
        padding-top: 0;
        padding-bottom: 40px;
        height: 1200px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 660px) {
    .heroSecTxt{
        height: 500px;
        gap: 20px;
    }
    .popularDesigns > h1{
        font-size: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 650px) { 
    .reviews{
        display: flex;
        flex-direction: column;
        height: 600px;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
    }
    .reviewTxt{
        height: 100px;
        /* border: 2px solid white; */
        display: flex;
        align-items: center;
    }
    .reviewCards{
        display: flex;
        flex-direction: column;
        /* width: 200px; */
    }
    .feedback{
        height: 1000px;
    }
}

@media screen and (max-width: 570px) { 
    .heroSec{
        display: flex;
        align-items: center;
        justify-content: center;
        
        padding: 0;
        margin: 0;
        /* height: 700px; */
    }
    .reviews{
        height: 800px;
    }
}


@media screen and (max-width: 540px) { 
    .reviewTxt > h1{
        font-size: 30px;
    }
}

@media screen and (max-width: 500px) { 
    .feedback{
        height: 1100px;
    }
    form{
        width: 300px;
    }
}

@media screen and (max-width: 450px) { 
    .heroSecTxt > h1{
        font-size: 30px;
    }
    .heroSecTxt > p{
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) { 
    .feedback{
        height: 1300px;
    }
    .box1{
        width: 250px;
    }
    .heroSec{
        height: 600px;
    }
    .heroSecTxt{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}