@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap'); */
.sideBar{
    /* background-color: rgb(40, 39, 38); */
    background-color: rgba(240, 240, 240, 0.299);
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* gap: 2%; */
    /* text-align: start; */
    align-items: center;
    box-shadow: 3px 5px 20px black;
    border-radius: 10px;
    /* padding-top: 40px; */
}
*{
    font-family: "Nerko One", system-ui;
    /* font-family: "Protest Guerrilla", sans-serif; */

}

.sideNavLogo{
    width: 100%;
    height: 20%;
    /* border: 3px solid red; */
}
.sideNavLogo > img{
    width: 100%;
    height: 100%;
}
.sideNav{
    width: 100%;
    height: 80%;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;
    gap: 4%;
    padding-top: 30px;
    padding-left: 5px;
}
.sideNav > button{
    width: 90%;
    height: 50px;
    border: 0;
    background-color: transparent;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
}
.sideNav > button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.769);
    border-radius: 10px;
    transition: 1s;
}
.sideNav > button:hover > a{
    color: white;
}
.sideNav > button > a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4%;
    font-size: 20px;
    color: rgb(97, 134, 10);
    /* background-color: black; */
}
